main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  background: rgb(238,206,251);
background: linear-gradient(90deg, rgba(238,206,251,1) 0%, rgba(231,174,237,1) 35%, rgba(193,117,172,1) 93%);
}