main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
  background: rgb(185,146,201);
  background: linear-gradient(90deg, rgba(185,146,201,1) 0%, rgba(210,114,221,1) 35%, rgba(170,50,135,1) 100%);
}